<!-- Release 0: Make an ERB Template -->
<!DOCTYPE html>
<html>
<!-- This form will print the list of student specified by campus -->
<head>
	<title>Print Students Data</title>
</head>
<body>
	<h1> Please enter the campus code (SD SF NYC CHI SEA) to display the list of the student attending a Cohart</h1>
	<form action="/" method="POST">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Submit</button>
  </form>

</body>
</html>